html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.nav_list {
  list-style: none;
}

.nav_link {
  font-size: 1.2rem;
  margin: 1em;
  color: #333;
  text-decoration: none;
}

.page_wrapper {
  min-height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  background-color: rgb(240, 248, 255);
  border-top: 0.6px solid rgba(80, 90, 95, 0.082);
}

.footer_info {
  display: flex;
  justify-content: center;
}

.autocomplete {
  display: relative;
  width: 300px;
}

#search_box {
  display: flex;
  width: 100%;
  width: 100%;
  border: none;
  overflow: none;
  padding: 20px;
  margin-top: 2em;
  border-bottom: 1px solid rgb(173, 173, 173);
  outline: none;
  font-size: 1.2em;
}

.form_lable {
  margin-top: 2em;
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(115, 129, 218);
  color: #fff;
  border-radius: 100px;
}

.result {
  margin: 0px;
  width: 100%;
  display: none;
  justify-content: center;
  height: 400px;
  overflow: scroll;
  border-top: 1px solid #f4f4f4;
}

.new_list {
  display: flex;
  justify-content: flex-start;
  margin: 0.5px;
  padding: 0.6em;
  list-style-type: none;
  width: 100%;
  font-size: 1.2em;
}

.new_list:hover {
  background-color: rgb(84, 88, 111);
  transition: all 0.2s;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  width: 350px;
}

/* style form register */

body,
html {
  margin: 0;
  height: 100%;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus + ::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color 0.2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-top: 7em;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
}

.overlay {
  background: -webkit-linear-gradient(#8ca6db, #b993d6);
  background: linear-gradient(#000000, #000000);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity: 0.1;
}

.warning {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0.5em;
  width: 600px;
  background-color: brown;
}

.warning_header {
  display: flex;
  color: #fff;
  font-weight: 500;
  margin-top: 0.2em;
}

.success {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  background-color: green;
}

.success_header {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}
