html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.nav_list {
  list-style: none;
}

.nav_link {
  font-size: 1.2rem;
  margin: 1em;
  color: #333;
  text-decoration: none;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

footer {
  margin: 0;
}

.footer_info {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(240, 248, 255);
}

.autocomplete {
  display: relative;
  width: 300px;
}

#search_box {
  display: flex;
  width: 100%;
  width: 100%;
  border: none;
  overflow: none;
  padding: 20px;
  margin-top: 2em;
  border-bottom: 1px solid rgb(173, 173, 173);
  outline: none;
  font-size: 1.2em;
}

.form_lable {
  margin-top: 2em;
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(115, 129, 218);
  color: #fff;
  border-radius: 100px;
}

.result {
  margin: 0px;
  width: 100%;
  display: none;
  height: 400px;
  overflow: scroll;
  border-top: 1px solid #f4f4f4;
}

.new_list {
  display: flex;
  justify-content: flex-start;

  margin: 0.5px;
  padding: 0.6em;
  list-style-type: none;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

.new_list:hover {
  background-color: rgb(84, 88, 111);
  transition: all 0.2s;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  width: 350px;
}

.result::-webkit-scrollbar {
  width: 8px;
}

.result-webkit-scrollbar-thumbe {
  border-radius: 10px;
  background-color: #7561b1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

form {
  position: relative;
}

.close {
  position: absolute;
  z-index: 10;
  top: 125px;
  left: calc(100% - 10px);
  cursor: pointer;
  font-size: 1.2em;
  color: #aaa;
  display: none;
}

.ds {
  display: block;
}

.cl {
  display: none;
}

.warning {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  background-color: brown;
  font-weight: 500;
}

.warning_header {
  color: #fff;
}

.success {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  background-color: green;
}

.success_header {
  color: #fff;
  font-weight: 500;
}
