
<% include layout/header%>
 
<div class="page_wrapper">
 <div class='bold-line'></div>
  <div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Welcome </div>
</header>

      <form action="/login" method="POST">
      <div class='input-fields'>
          <input type="email" name="useremail" placeholder="Email" class='input-line full-width'>
          <input type="password" name="password" placeholder="password" class='input-line full-width'>
      </div>
      <div><button type="submit" class='ghost-round full-width'>Login</button></div>
      </form>

    </div>
  </div>
 </div>
 </div>



<footer>
<h2 class="footer_info">&copy; Happy Dev 2019</h2>
</footer>


<% include layout/footer%>

