
<% include layout/header%>


<div class="page_wrapper"> 
<div class='bold-line'></div>
  <div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Welcome </div>



      
       <form action="/register" method="POST">
      <div class='input-fields'>
          <input type="text" name="username" placeholder="Name" class='input-line full-width'>
          <input type="email" name="useremail" placeholder="Email" class='input-line full-width'>
          <input type="password" name="password" placeholder="password" class='input-line full-width'>
      </div>
      <div><button type="submit" class='ghost-round full-width'>Create Account</button></div>
      </form>
   
      
    </div>
  </div>
 </div>
</div>



<footer>
<h2 class="footer_info">&copy; Happy Dev 2019</h2>
</footer>


<% include layout/footer%>

