<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="stylesheet/layout.css" />
    <title>Document</title>
  </head>
  <body>
    <% if(user){ %>
    <nav class="nav">
      <li class="nav_list"><a class="nav_link" href="/">Home</a></li>
      <li class="nav_list"><a class="nav_link" href="/index">Dashboard</a></li>
      <li class="nav_list"><a class="nav_link" href="/about">About</a></li>
      <li class="nav_list"><a class="nav_link" href="/contact">Contact</a></li>
      <li class="nav_list"><a class="nav_link" href="/login">Login</a></li>
      <form method="get" action="/logout">
        <button>Logout</button>
      </form>
    </nav>
    <% } else{ %>
    <nav class="nav">
      <li class="nav_list"><a class="nav_link" href="/">Home</a></li>
      <li class="nav_list"><a class="nav_link" href="/about">About</a></li>
      <li class="nav_list"><a class="nav_link" href="/contact">Contact</a></li>
      <li class="nav_list"><a class="nav_link" href="/login">Login</a></li>
      <li class="nav_list">
        <a class="nav_link" href="/register">Register</a>
      </li>
    </nav>
    <% } %> <%if(errors && errors.length > 0 ){ %>
    <div class="warning">
      <%if(errors[0] === 'undefined'){ %>
      <h2 class="warning_header" style="display: none"></h2>
      <%} else { %>
      <h2 class="warning_header"><%= errors[0]%></h2>
      <%}%>
    </div>
    <div class="warning">
      <%if(errors[1] === 'undefined' || errors[1] === ""){ %>
      <h2 class="warning_header" style="display: none"></h2>
      <%} else { %>
      <h2 class="warning_header"><%= errors[1]%></h2>
      <%}%>
    </div>
    <div class="warning">
      <%if(errors[2] === 'undefined' || errors[2] === ""){ %>
      <h2 class="warning_header" style="display: none"></h2>
      <%} else { %>
      <h2 class="warning_header"><%= errors[2]%></h2>
      <%}%>
    </div>
    <%}%> <%if(success && success.length > 0){ %>
    <div class="success">
      <h2 class="success_header"><%= success%></h2>
    </div>
    <%}%>
  </body>
</html>
